{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
<h1>{{ cats }}</h1><br/>

<ul>
{% for post in category_posts %}
<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>  
  by: {{ post.author.first_name }} {{ post.author.last_name }} - 
  posted on: {{ post.post_date }} 
  <small>
    {% if user.is_authenticated %}
     - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
      <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    {% endif %}
  </small><br/>
  {{ post.body|slice:":200"|safe }} ...
</li>
{% endfor %}
</ul>
{% else %}
  <h2>No Posts Made On {{ cats }}...</h2>
{% endif %}
{% endblock %}