{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1><br/>

<ul>
  {% for post in object_list %}
    <li><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>  
      - <a href="{% url 'category' post.category %}">{{ post.category }}</a>
      by: {{ post.author.first_name }} {{ post.author.last_name }} - 
      posted on: {{ post.post_date }} 
      <small>
        {% if user.is_authenticated %}
         - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
      </small><br/>
      {{ post.body|slice:":200"|safe }} ...
    </li>
  {% endfor %}
</ul>
{% endblock %}